[Unit]
Description=Sync media using rclone
After=network.target

[Service]
ExecStart=/usr/bin/env rclone-all.sh %p
ExecReload=/bin/kill -HUP $MAINPID
