[Unit]
Description=Transfer %I using rclone (%p)
After=network.target

[Service]
EnvironmentFile=-%h/.rclone.env
ExecStart=/usr/bin/env rclone-unit.sh %p "%I"
